
.NavContainer {


  position: fixed;
  width: 100%;
 
 
  
}

.navBar {

 
  
 margin-top: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  background-color: rgb(255, 255, 255);
  min-height: 30px; 
  align-items: center;
 
}

.MiddleNav {
  gap: 40px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  justify-content: center; /* Center items horizontally */
  width: 100%; /* Make sure this section takes the full width */
  min-height: 80px;
  align-items: center;
  margin-right: 250px
}

.MiddleDiv {

  flex-grow: 1; /* Allow this section to grow and take up available space */
  display: flex;

}

.MiddleNav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 19px;
  
 
}

.MiddleNav a:hover {
  color: #ff5733;
}

.MiddleNav li,
.right-nav li {
  display: inline;

}

.right-nav {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 25px;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  justify-content: flex-end;
  align-items: center;
}

.right-div {
  justify-content: flex-end;
  display: flex;
  /* margin-right: 20px;  */
  
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .navBar {
    justify-content: space-between; /* Distribute items evenly on smaller screens */
    padding: 10px; /* Add padding to the navigation bar */
  }

  .MiddleNav,
  .right-nav {
    justify-content: center; /* Center items on smaller screens */
    width: 100%; /* Take the full width on smaller screens */
  }

  .right-div {
    margin-right: 10px;
    display: flex;
  }
}

.logo-img{
width: 200px;

}
.button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding to your preference */
  background-color: black; /* Button background color */
  color: #fff; /* Text color */
  text-decoration: none;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
 
}

/* Add some margin to separate the buttons */
.button + .button {
  margin-left: 10px; /* Adjust the margin as needed */
}
