.third-div{
    background-color: rgb(238, 246, 247);
    height: 2000px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;

}
.thirdDivContainer{
    display: flex;
    width:80%;
    height: 90%;
    flex-direction: column;

}
.thirdDiv-Top{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.thirdDiv-Top p {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}
.thirdDiv-Top h1{
    font-size: 15px;
    font-weight: 600;
    color: grey;
    padding-top: 10px;
}
.thirdDiv-Buttom{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 30px; /* Space between divs */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
}
.cardBox{
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;  
}




.card{
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    border-radius: 9px;
   
    justify-content: center;
    flex-direction: column

}
.card-Top{
    height: 50%;
    width: 100%;
    position: relative;
}

.car-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;

}
.profile-img{
    width: 10%;
    height: 15%;
    border-radius: 30px;
    position: absolute;
    border-color: white;
    margin-bottom: -15px;
    bottom: 0; 
    right: 0; /* Place the overlay photo at the right */
    margin-right: 15px;
    border: 2px solid #ffffff
    
}

.circle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #f9f9f900;
    border: 1px solid white;
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    color: rgba(3, 3, 3, 0.612); 
  }
  
  .heart-icon {
   font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: Normal, sans-serif; /* Use a font that includes the heart symbol */
  }
.card-Buttom{
height: 50%;
width: 100%;
display: flex;
flex-direction: column
}

.card-Buttom P {
  font-size: 25px;
  padding-top: 10px;
  margin: 0; 
  font-weight: 800;
  vertical-align: top; 
  display: flex;
  flex-direction: column;
}
.card-Buttom img {
width: 35%;
height: 10%;
padding-top: 0px;
margin: 0 ;
}
.card-Buttom h1{
    color: grey;
    font-weight: normal;
    font-size: 110%;
    margin: 0;
    justify-content: center;
}
.ratingBox{
    align-items: center;
    display: flex;
    gap: 6px;
 
}
.location-Box{
   background-color:rgb(231, 246, 251) ;
   color: grey;
   padding-left: 10px;
   border-radius: 2px;
   font-weight: 700;
   height: 30%;
   display: flex;
   justify-content: space-between;
    margin-top:19px;
    margin-bottom: 3px
 
}


.location-Box p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    justify-content: center;
    
}

.location-Box h2 {
    width: 100px;
    gap: 4px;
    color: black;
    display: flex;
    font-size: 20px;
    margin-top: -6;
    
    justify-content: center;
}
.location-Box h3 {
   margin: 0;
 margin-top: -6px;
   padding-top: 7px;
   color:grey;
   font-size: 12px;
 
   
   display: flex;
}

.rentButton{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;

}

.rentButton button{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 7px;
    font-weight: 800;
    font-size: 16px;
    margin-top: 10px;
}

.horizontal-list {
    list-style-type: none; /* Remove bullet points or numbering for the list */
    padding: 0; /* Remove default padding */
    display: flex;
    text-align: center;
    margin: 12px;
    /* Use flexbox to make list items go horizontally */
  }
  
  .horizontal-list li {
    width: 30.3%;
    text-align: center;
  justify-content: center;
  color: rgb(79, 77, 77);
  }
.horizontal-list img {
    width: 18%;
    height: 18px;
    margin: 0;
    padding: 0;
  padding-right: 3px;
}


.card:hover  .rentButton button{
    background-color:  rgb(235, 124, 14);;
    color: rgb(255, 255, 255);
    width: 190%;
    height: 110%;
    border-color: #f9f9f9
}
.card:hover{
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 93%;
    height: 93%;
    border-radius: 9px;
   
    justify-content: center;
    flex-direction: column

}
.card:hover .circle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #f9f9f9;
    border: 1px solid white;
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    color: rgb(243, 140, 4); 
  }